* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white!important;
}

ul {
    list-style-type: none!important;
}

div.container {
    margin-top: 60px!important;
}

ul.navbar-right {
    margin-right: 0;
}

div.logo-container {
    height: 85px;
    width: 100%;
}

div.logo {
    height: 100%;
    text-align: center;
}

div.logo img{
    width: 100%;
    height: 100%;
}

div.main-nav {
    background: #88C6E5;
    height: 40px;
    width: 100%;
    margin-top: 10px;
}

ul.nav-ul {
    height: 100%;
    line-height: 100%;
    list-style-type: none;
    text-align: center;
    margin-top: auto;
}

ul.nav-ul li {
    width: auto;
    height: 100%;
    display: inline-block;
    line-height: 40px;
    margin-left: 1em;
    font-size: 15px;
}

ul.nav-ul li a {
    color: white;
}

span.unread-count {
    background-color: #d9534f!important;  
}

div.footer {
    margin-top: 3em;
    background-color: #eee;
    color: #555;
}

div.page-bottom{
    position:absolute; 
    bottom:0;
    width: 100%;
}

div.website-info {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

div.website-info p {
    margin-bottom: 0;
}