{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}小黑阅读站|个人中心{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/infoStyle.css' %}">
{% endblock header%}

{% block navbar %}
	<ul class="nav navbar-nav">
        <li>
            <a href="{% url 'index' %}">首页</a>
        </li>
        <li class="active">
            <a href="{% url 'user:user_info' %}">个人中心</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
	<div class="container">
		{% if user.is_authenticated %}
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h2>{{ user.username }}</h2>
				
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" class="{% block base_status %}{% endblock %}">
						<a href="{% url 'user:user_info' %}">基本信息</a>
					</li>
					<li role="presentation" class="{% block collect_status %}{% endblock %}">
						<a href="{% url 'collect:my_collects' %}">我的收藏</a>
					</li>
					<li role="presentation" class="{% block message_status %}{% endblock %}">
						<a href="{% url 'my_notifications:my_notifications' %}">我的消息</a>
					</li>
				</ul>
				{% block info_content %}
				{% endblock %}
				
			</div>
		</div>
		{% else %}
			<span>您还没有登录，请先登录...</span>
			<script type="text/javascript">
				window.location.href = '{% url "user:login" %}';
			</script>
		{% endif %}
	</div>
{% endblock %}